// --------------------------------------------------------
// VARIABLES
// --------------------------------------------------------
$themeColor:#379392;
$blue: #2980b9;
$red: #e74c3c;
$yellow: #f1c40f;
$orange: #e67e22;
$grey: #ced4da;
$purple: #796AEE;
$green: #27ae60;
$cyan: #26a69a;
$black: #333;
$light-grey:#666;

$font-color:#333;